.form {
  position: relative;
  width: 600px;
  margin: 0 auto;
  padding: 30px 30px 100px;
  display: flex;
  height: max-content;
  background-color: rgba(242, 242, 242, 0.7);
  flex-direction: column;
  border-radius: 12px;
  &::after {
    position: absolute;
    bottom: 0;
    right: 120px;
    content: "";
    background-image: url(../images/tree.png);
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    width: 90px;
    height: 90px;
    transform: rotate(-30deg);
  }
  &::before {
    position: absolute;
    bottom: 10px;
    left: 10px;
    content: "";
    background-image: url(../images/large_christmas-gifts.png);
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    width: 90px;
    height: 90px;
    transform: rotate(30deg);
  }
}

.task {
  position: relative;
  width: auto;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  box-sizing: border-box;
  padding:  0 0 0 20px;
  margin-bottom: 20px;
  &__toggler {
    box-sizing: border-box;
    position: absolute;
    top:50%;
    left: 3px;
    transform:translateY(-50%);
    width: 40px;
    height: 80%;
    border-radius: 20px;
    background-image: url(../images/questions.jpeg);
    opacity: 0.7 ;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  &:hover {
    background: #fff;
      box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
  }
  &__edit {
    width: 80px;
    height: 50px;
    box-sizing: border-box;
    color: #fff;
    background-color: rgba(139,142,213, 0.7);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    margin: auto 0;
    text-shadow: 1px 1px 1px #000;
    &:hover {
      background-color: rgba(139,142,213, 1);
    }
  }
  &__input {
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    border: transparent;
    outline: none;
    padding-left: 30px;
    font-family: inherit;
    font-size: 20px;
    color: rgba(249, 81, 46, 0.5);
    &:hover::placeholder {
      color: rgba(249,81,46, 0.6);
    }
    &::placeholder {
      font-family: inherit;
      color: rgba(249, 81, 46, 0.4);
    }
  }
  &__delete {
    width: 80px;
    height: 50px;
    border: none;
    color: #fff;
    font-family: inherit;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-shadow: 1px 1px 1px #000;
    background-color: rgba(249, 81, 46, 0.6);
    &:hover {
      background-color: rgba(249,81,46, 0.8);
    }
  }
  &__save {
    width: 80px;
    height: 50px;
    box-sizing: border-box;
    color: #fff;
    background-color: rgba(136,202,108, 0.6);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    margin: auto 0;
    text-shadow: 1px 1px 1px #000;
    &:hover {
      background-color: rgba(136,202,108, 0.7);
    }
  }
}
