
@import "./variables.scss";
@import "./mixins\ &\ keyframes.scss";
@import "./background&page.scss";
@import "./label.scss";
@import "./input.scss";
@import "./body.scss";



.noTaskLeft {
  margin-top: 0;
  text-align: center;
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 1px 1px #000;
  color: $turquoise;
  font-size: 25px;
}

h1 {
  font-family: 'Pacifico', cursive;
  color: $white;
  text-align: center;
  font-size: 50px;
  text-shadow: 2px 1px 1px #000;
}

.deleteAll {
  position: absolute;
  bottom: 20px;
  right: 30px;
  width: 80px;
  height: 50px;
  margin-top: 20px;
  border: none;
  color: $white;
  text-shadow: 1px 1px 1px #000;
  font-family: inherit;
  border-radius: 20px;
  background-color: $orange;
  opacity: 0;
  &:hover {
    background-color: $orange-hover;
  }
}

.clearDone {
  position: absolute;
  bottom: 20px;
  left: 30px;
  width: 90px;
  height: 50px;
  margin-top: 20px;
  border: none;
  color: $white;
  text-shadow: 1px 1px 1px #000;
  font-family: inherit;
  border-radius: 20px;
  background-color: $orange;
  opacity: 0;
  &:hover {
    background-color: $orange-hover;
  }
}

.pattern {
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  color: $orange;
  text-shadow: 2px 1px 1px #000;
  font-size: 14px;
  opacity: 0;
}